<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" th:href="@{css/home}">


    <!-- Navigation Bar -->
    <div class="w3-bar w3-white w3-large">
        <a th:href="@{/home}" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-bed w3-margin-right"></i>Hotel</a>
        <a th:href="@{/viewBook}" class="w3-bar-item w3-button w3-mobile">My Bookings</a>
        <a th:href="@{/about}" class="w3-bar-item w3-button w3-mobile">About Us</a>
        <a href="#contact" class="w3-bar-item w3-button w3-mobile">Update Profile</a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Logout</a>
    </div>
</head>

<body>


<div class="w3-container w3-margin-top" id="rooms">
    <h3>Rooms</h3>
    <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.</p>
</div>

<div class="w3-row-padding">
    <form th:action="@{/searchRoom}" th:method="POST">
    <div class="w3-col m3">
        <label><i class="fa fa-calendar-o"></i> Check In</label>
        <input class="w3-input w3-border" type="text"  placeholder="DD MM YYYY"  id="txtCheckin" name="startDate" >
    </div>
    <div class="w3-col m3">
        <label><i class="fa fa-calendar-o"></i> Check Out</label>
        <input class="w3-input w3-border" type="text"  placeholder="DD MM YYYY"   id="txtCheckout" name="endDate" >
    </div>

    <div class="w3-col m3">
        <button class="w3-button w3-block w3-black w3-border-red">Search</button>
    </div>
    </form>
</div>

<div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
        <img th:src="@{/image/single.jpg}" alt="Norway" style="width:100%">
        <div class="w3-container w3-white">
            <h3>Single Room</h3>
            <h6 class="w3-opacity">From $99</h6>
            <p>Single bed</p>
            <p>15m<sup>2</sup></p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
            <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
        </div>
    </div>
    <div class="w3-third w3-margin-bottom">
        <img th:src="@{/image/double.jpg}" alt="Norway" style="width:100%">
        <div class="w3-container w3-white">
            <h3>Double Room</h3>
            <h6 class="w3-opacity">From $149</h6>
            <p>Queen-size bed</p>
            <p>25m<sup>2</sup></p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
            <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
        </div>
    </div>
    <div class="w3-third w3-margin-bottom">
        <img th:src="@{/image/deluxe.jpg}" alt="Norway" style="width:100%">
        <div class="w3-container w3-white">
            <h3>Deluxe Room</h3>
            <h6 class="w3-opacity">From $199</h6>
            <p>King-size bed</p>
            <p>40m<sup>2</sup></p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
            <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <img th:src="@{/image/twin.jpg}" alt="Norway" style="width:100%">
        <div class="w3-container w3-white">
            <h3>Twin Room</h3>
            <h6 class="w3-opacity">From $199</h6>
            <p>King-size bed</p>
            <p>40m<sup>2</sup></p>
            <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
            <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
        </div>
    </div>

</div>


<script>

    $(document).ready(function () {
        $("#txtCheckin").datepicker({
            dateFormat: "yy-mm-dd",
            minDate:"today",
            maxDate:"+3M",
            onSelect: function (date) {
                var date2 = $('#txtCheckin').datepicker('getDate');
                date2.setDate(date2.getDate() + 1);
                $('#txtCheckout').datepicker('setDate', date2);
                //sets minDate to dateofbirth date + 1
                $('#txtCheckout').datepicker('option', 'minDate', date2);
            }
        });
        $('#txtCheckout').datepicker({
            dateFormat: "yy-mm-dd",
            onClose: function () {
                var dt1 = $('#txtCheckin').datepicker('getDate');
                console.log(dt1);
                var dt2 = $('#txtCheckout').datepicker('getDate');
                if (dt2 <= dt1) {
                    var minDate = $('#txtCheckout').datepicker('option', 'minDate');
                    $('#txtCheckout').datepicker('setDate', minDate);
                }
            }
        });
    });


</script>

</body>
</html>