<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{css/employeeForm.css}">
    <!------ Include the above in your HEAD tag ---------->
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">Close &times;</button>
        <a th:href="@{/managerHome}" class="w3-bar-item w3-button">Home</a>
        <a th:href="@{/addRoomform}" class="w3-bar-item w3-button">Add Room</a>
        <a th:href="@{/viewRoom}" class="w3-bar-item w3-button">View Room</a>
        <a th:href="@{/manageBooking}" class="w3-bar-item w3-button">View Bookings</a>
        <a th:href="@{/updateManagerProfile}" class="w3-bar-item w3-button">Update Profile</a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button">Logout</a>

    </div>
</head>

<body>

<div id="main">

    <div class="w3-teal">
        <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
            <h1>My Page</h1>
        </div>
    </div>

    <div class="card">
        <h1>My Profile</h1>
        <input type="hidden" name="id" id="id" >
        <h2><a th:text="${user}"></a></h2>
        <p class="title"><a th:text="${user.email}"></a></p>
        <p><a th:text="${user.tel}"></a></p>

        <div style="margin: 24px 0;">

        </div>
    </div>


    <section class="get-in-touch">
        <h1 class="title">Update your profile</h1>
        <form class="contact-form row" th:action="@{/updateInfo}" method="post">

            <div class="alert alert_error" role="alert" th:text="${invalid}" th:if="${invalid}"></div>
            <div class="alert_success" role="alert" th:text="${sucess}" th:if="${sucess}"></div>


            <div class="form-field col-lg-6 ">
                <input id="email" class="input-text js-input" type="email" name="email" >
                <label class="label" for="email">Update email </label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="tel" class="input-text js-input" type="tel" name="tel"  maxlength="10" minlength="10">
                <label class="label" for="tel">Updated Phone Number</label>

            </div>

            <h5>Change Password</h5>
            <div class="form-field col-lg-12">
                <input id="oldPassword" class="input-text js-input" type="password" name="oldPassword" >
                <label class="label" for="oldPassword">Old Password </label>
            </div>

            <div class="form-field col-lg-12">
                <input id="newPassword" class="input-text js-input" type="password" >
                <label class="label" for="newPassword">Updated Password </label>
            </div>

            <div class="form-field col-lg-12">
                <input class="submit-btn" type="submit" value="Update!">
            </div>
        </form>
    </section>


</div>

<script>
    function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }

    document.getElementById("password").addEventListener("change",checkFilled);
    function checkFilled(){
        var password = document.getElementById("password").value;
        var  old_password=document.getElementById("oldPassword1").value;
        var error1=document.getElementById("error");

        if(password===""){password=null}
        if(old_password===""){old_password=null}
        if((password==null&&old_password==null) || (password!=null && old_password!= null))
        {
            error1.textContent=" "
        }
        else if((password==null && old_password!= null))
        {
            error1.textContent="old password and new passwoed should be filled to change password"

        }

    }



</script>



</body>
</html>