<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{css/viewdata}">

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">Close &times;</button>
        <a th:href="@{/managerHome}" class="w3-bar-item w3-button">Home</a>
        <a th:href="@{/addRoomform}" class="w3-bar-item w3-button">Add Room</a>
        <a th:href="@{/viewRoom}" class="w3-bar-item w3-button">View Room</a>
        <a th:href="@{/manageBooking}" class="w3-bar-item w3-button">View Bookings</a>
        <a th:href="@{/updateManagerProfile}" class="w3-bar-item w3-button">Update Profile</a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button">Logout</a>

    </div>
</head>
<body>


<div id="main">

    <div class="w3-teal">
        <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
            <h1>All the Rooms</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">


            <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                <div class="table-responsive" th:if="${ not#lists.isEmpty(roomList)}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Room</th>
                            <th>Room Number</th>
                            <th>Floor</th>
                            <th>Details</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Hotel</th>
                            <th class="text-center">Update</th>
                            <th class="text-center">Delete</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="roomL : ${roomList}">
                            <td class="text-center" th:text="${roomL.roomType}">
                            <td class="text-center" th:text="${roomL.roomNumber}"></td>
                            <td th:text="${roomL.roomFloor}"></td>
                            <td th:text="${roomL.roomDetails}"></td>
                            <td th:text="${roomL.priceOfRoom}" ></td>
                            <td th:text="${roomL.status}"></td>
                            <td th:text="${roomL.hotel.hotelName}"></td>

                            <td class="td-actions text-right">

                                <form th:action="@{/updateRoom}" method="post">

                                    <div class="alert_success" role="alert" th:text="${sucessRoom}" th:if="${sucessRoom}"></div>

                                    <input type="hidden" name="roomId" th:value="${roomL.roomId}">
                                    <input type="radio" id="status" name="status" th:value="${roomL.status}">
                                     <label for="status">Active</label><br><br />
                                    <input type="radio" id="status1" name="status" th:value="${roomL.status}">
                                    <label for="status">Full</label><br><br />
                                    <input type="radio" id="status2" name="status" th:value="${roomL.status}">
                                    <label for="status">Repair</label><br><br />
                                    <button type="submit" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                                    Update
                                </button>
                                </form>
                            </td>

                            <td class="td-actions text-right">
                            <form th:action="@{/deleteRoom}"  method="POST">

                                    <div class="alert_success" role="alert" th:text="${sucessDeleteRoom}" th:if="${sucessDeleteRoom}"></div>

                                    <input type="hidden" name="roomId" th:value="${roomL.roomId}">
                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm"
                                    >
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
</div>





</body>
</html>